body {
    background-color: #000000;
    color: Aqua;
    font-family: Arial Narrow, serif;
}

a {
    color: Aquamarine;
}
aside {
    position: fixed; /* Фиксируем позицию панели */
    top: 0;          /* Расположение от верхней границы экрана */
    left: 0;         /* Расположение от левой границы экрана */
    width: 200px;    /* Ширина панели */
    height: 100%;    /* Высота панели до нижней границы экрана */
    overflow-y: auto; /* Добавляем прокрутку, если содержимое не помещается */
    z-index: 1000;   /* Убеждаемся, что панель будет над другими элементами */
}
main {
    margin-left: 220px; /* Добавляем отступ слева, немного больше ширины панели */
}
